
* {
    font-family: 'Nanum Gothic Coding', monospace;
    scrollbar-width: none;
}
body {
    background: #F5F5F5;
    height: auto;
    width: 100vw;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
body.dark {
    background: radial-gradient(100% 100% at 50% 0%, #3c3c3c 0%, #3c3c3c 100%);
}
p, .profile > div > span {
    font-family: 'NanumGothic';
    color: #505050;
    font-size: 12pt;
    font-weight: 700;
}
label, input, button {
    color: #505050;
    font-size: 12pt;
    font-weight: 700;
}

.navbar {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    gap: 20px;
    height: 42px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 95%, rgba(255, 255, 255, 0.35) 100%),
                linear-gradient(180deg, rgba(174, 174, 174, 0.64) 0%, rgba(245, 245, 245, 0.64) 100%);
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.35);
}
.navbar > a > h1, .navbar > a > h2, .navbar > h1, .navbar > h2 {
    padding: 10px;
    border-radius: 10px;
    box-shadow: inset 0px -5px 5px transparent;
    transition: box-shadow 200ms, padding 200ms;
}
.navbar > a > h1:hover, .navbar > a > h2:hover {
    padding: 8px 10px 12px;
    box-shadow: inset 0px -7px 5px white;
}

.main {
    position: absolute;
    left: 0;
    right: 0;
    top: 62px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.timer {
    max-width: 50vw;
    min-width: 378px;
    height: fit-content;
    margin: 0 20px 20px 20px;
    display: flex;
    flex-direction: column;
}
.controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.controls > button {
    font-size: 5vh;
    margin: 10px 5px;
    transition: margin 300ms, padding 300ms;
}
.controls > button:hover {
    margin: 10px 0px;
    padding: 10px 20px;
}
.digital {
    margin-top: -29vh;
    margin-bottom: 19vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 2em;
    font-size: 5vh;
    color: #505050;
    font-weight: 700;
}
.digital > div {
    height: fit-content;
    padding: 0.5em;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 95%, rgba(255, 255, 255, 0.35) 100%), linear-gradient(180deg, rgba(174, 174, 174, 0.64) 0%, rgba(245, 245, 245, 0.64) 100%);
    box-shadow: inset 0px 5px 5px white, 0px 5px 10px rgba(0, 0, 0, 0.35);
    border-radius: 20px;
}

.content {
    position: relative;
    margin: 20px 20vw;
    width: 60vw;
    padding: 20px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 95%, rgba(255, 255, 255, 0.35) 100%), linear-gradient(180deg, rgba(174, 174, 174, 0.64) 0%, rgba(245, 245, 245, 0.64) 100%);
    box-shadow: inset 0px 5px 5px white, 0px 5px 10px rgba(0, 0, 0, 0.35);
    border-radius: 20px;
}
.dataProfile {
    margin: 20px;
    position: absolute;
    top: 0;
    right: 0;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 0px;
    min-width: 250px;
    height: fit-content;
    flex-grow: 1;
    margin: 20px;
}
.container > form {
    width: fit-content;
}
.container > p {
    max-width: 40vw;
    min-width: 378px;
    word-wrap: normal;
}
.profile {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 10px;
    border-radius: 20px;
    box-shadow: inset 0px 5px 5px white, 0px 5px 10px rgba(0, 0, 0, 0.35);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 95%, rgba(255, 255, 255, 0.35) 100%), linear-gradient(180deg, rgba(174, 174, 174, 0.64) 0%, rgba(245, 245, 245, 0.64) 100%);
}
.profile > div {
    align-self: center;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

h1, h2, h3{
    background: linear-gradient(180deg, #505050 0%, #737373 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    transition: font-weight 300ms;
}
h1 {
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 32px;
}
h2 {
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 30px;
}
.bold {
    font-weight: 700;
}
b {
    font-family: 'NanumGothic';
    color: black;
}

a {
    text-decoration: none;
}
.signup {
    font-style: normal;
    background: radial-gradient(30.91% 30.91% at 50.07% -0.91%, rgba(255, 255, 255, 0.75) 0%, rgba(255, 255, 255, 0) 100%), radial-gradient(95.27% 100.91% at 50.07% -0.91%, #48F5FF 0%, #00D3DF 33%, #00D3DF 66.5%, #0012DF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}
.loginbox {
    position: absolute;
    left: 35vw;
    right: 35vw;
    top: 10vh;
    bottom: 10vh;
    max-width: 30vw;
    min-width: 400px;
    height: 80vh;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 95%, rgba(255, 255, 255, 0.35) 100%), linear-gradient(180deg, rgba(174, 174, 174, 0.64) 60%, rgba(245, 245, 245, 0.64) 100%);
    box-shadow: inset 0px 30px 50px white, 0px 10px 50px rgba(0, 0, 0, 0.35);
    padding: 20px;
    border-radius: 20px;
}
#pomodoroForm {
    margin: 0 auto;
    height: fit-content;
}
.intro {
    margin: 0 auto;
    max-width: 30vw;
    min-width: 400px;
    height: fit-content;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 95%, rgba(255, 255, 255, 0.35) 100%), linear-gradient(180deg, rgba(174, 174, 174, 0.64) 60%, rgba(245, 245, 245, 0.64) 100%);
    box-shadow: inset 0px 30px 50px white, 0px 10px 50px rgba(0, 0, 0, 0.35);
    padding: 20px;
    border-radius: 20px;
}
.intro > p {
    font-size: 18pt;
}

.loginbox > form > div, form.profileForm > div {
    display: flex;
    flex-direction: row;
    padding: 10px 15px;
    background: radial-gradient(100% 100% at 50% 0%, white 0%, #F0F0F0 100%);
    box-shadow: inset 0px 5px 5px rgba(0, 0, 0, 0.35);
    margin: 10px 0px;
    border-radius: 20px;
}
form.profileForm > div {
    max-width: 30vw;
    min-width: 15ch;
}
input.form-control {
    flex-grow: 1;
    width: auto;
    background: radial-gradient(30.91% 30.91% at 50.07% -0.91%, rgba(255, 255, 255, 0.75) 0%, rgba(255, 255, 255, 0) 100%), radial-gradient(95.27% 100.91% at 50.07% -0.91%, #48F5FF 0%, #00D3DF 33%, #00D3DF 66.5%, #0012DF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

svg#account {
    height: 42px;
    width: 36px;
}
svg.loginaccount {
    position: absolute;
    right: 20px;
    top: 20px;
    height: 60px;
    width: 60px;
}
form > div > input {
    border: none;
}
form > div > input:active {
    border: none
}
button, input.button {
    padding: 10px 15px;
    margin: 10px 0px;
    appearance: none;
    text-decoration: none;
    cursor: pointer;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 95%, rgba(255, 255, 255, 0.35) 100%), linear-gradient(180deg, rgba(174, 174, 174, 0.64) 0%, rgba(245, 245, 245, 0.64) 100%);
    box-shadow: inset 0px 5px 5px white, 0px 5px 10px rgba(0, 0, 0, 0.35);
    border-radius: 20px;
    border: none;
    transition: box-shadow 300ms, margin 300ms, padding 300ms, background 300ms;
}
button:hover, input.button:hover {
    box-shadow: inset 0px 7px 5px white, 0px 3px 10px rgba(0, 0, 0, 0.35);
}
button.evil:hover {
    background: linear-gradient(180deg, rgba(255, 100, 100, 0) 95%, rgba(255, 50, 50, 0.35) 100%), linear-gradient(180deg, rgba(174, 50, 50, 0.64) 0%, rgba(245, 50, 50, 0.64) 100%);
}
button:active, input.button:active {
    background: radial-gradient(30.91% 30.91% at 50.07% -0.91%, rgba(255, 255, 255, 0.75) 0%, rgba(255, 255, 255, 0) 100%), radial-gradient(95.27% 100.91% at 50.07% -0.91%, #48F5FF 0%, #00D3DF 33%, #00D3DF 66.5%, #48F5FF 100%);
}
button.evil:active {
    background: linear-gradient(180deg, rgba(255, 0, 0, 0) 95%, rgba(255, 0, 0, 0.35) 100%), linear-gradient(180deg, rgba(174, 0, 0, 0.64) 0%, rgba(245, 0, 0, 0.64) 100%);
}

.spacer {
    width: auto;
    height: auto;
    flex-grow: 1;
}

div.floppy {
    margin: 0 auto;
    width: 250px;
    height: 250px;
    display: block;
    position: relative;
    top: 0;
    transition: top 300ms;
}
div.floppy:hover{
    top: -1vw;
}
div.floppy svg {
    width: 250px;
}
div.floppy-content {
    font-size: 1.2vw;
    font-weight: 700;
    text-align: left;
    top: 1vw;
    width: 150px;
    position: absolute;
    padding: 3px;
    margin: 0px 47px;
}
div.floppy-content h2 {
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    font-weight: 700;
}
div.floppy-buttons {
    position: absolute;
    bottom: 22px;
    display: none;
    margin: 0 auto;
    opacity: 0.1;
    transition: opacity 300ms;
}
div.floppy:hover > div.floppy-buttons {
    display: block;
    position: absolute;
    opacity: 1;
}